env:
  global:
    - PACKAGE="InsertDateString"
    - SUBLIME_TEXT_VERSION="3"
    - PLUGIN_VERSION="2.0.3"

# mutliple os matrix
# https://docs.travis-ci.com/user/multi-os/#Python-example-(unsupported-languages)
matrix:
  include:
    - os: linux
      language: python
    - os: osx
      language: generic

services:
  - xvfb

before_install:
  - curl -OL https://raw.githubusercontent.com/randy3k/UnitTesting/master/sbin/travis.sh

install:
  - sh travis.sh bootstrap
  - sh travis.sh install_package_control

script:
  - sh travis.sh run_tests --coverage

after_success:
  - pip3 install coverage==4.5.4 codecov==2.0.15
  - codecov

notifications:
  email: false
